/* Flexbox Row Custom */
.row-c-c {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
  .row-sb-c {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }
  .row-sa-c {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
  }
  .row-se-c {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
  }
  .row-fs-c {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
  }
  .row-fe-c {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
  }
  .row-c-sb {
    display: flex;
    justify-content: center;
    align-items: space-between;
    flex-direction: row;
  }
  .row-c-sa {
    display: flex;
    justify-content: center;
    align-items: space-around;
    flex-direction: row;
  }
  .row-c-se {
    display: flex;
    justify-content: center;
    align-items: space-evenly;
    flex-direction: row;
  }
  .row-c-fs {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
  }
  .row-c-fe {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: row;
  }
  
  /* Flexbox Column Custom */
  .col-c-c {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .col-c-se {
    display: flex;
    justify-content: center;
    align-items: space-evenly;
    flex-direction: column;
  }
  .col-c-sa {
    display: flex;
    justify-content: center;
    align-items: space-around;
    flex-direction: column;
  }
  .col-c-se {
    display: flex;
    justify-content: center;
    align-items: space-evenly;
    flex-direction: column;
  }
  .col-c-fs {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
  }
  .col-c-fe {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
  }
  
  .col-se-c {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
  }
  .col-sa-c {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
  }
  .col-sb-c {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }
  .col-fs-c {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
  }
  .col-fe-c {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
  }

  .full-w-h{
    width:100%;
    height:100%;
  }
  .full-s-h{
    min-height: 100vh;
  }