@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
.nav-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  background: rgba(255, 255, 255, 0.53);
  backdrop-filter: blur(9.8px);
  -webkit-backdrop-filter: blur(12.8px);
  z-index: 5;
  @media only screen and (max-width: 900px) {
    bottom: 0;
    height: 100vh;
    overflow-y: scroll;
    backdrop-filter: blur(12.8px);
  }
}
.nav-toggle {
  display: none;
  @media only screen and (max-width: 900px) {
    display: flex;
    position: fixed;
    top: 2rem;
    right: 2rem;
    font-size: 3.5rem;
    z-index: 5;
    cursor: pointer;
  }
  @media only screen and (max-width: 600px) {
    top: 1.2rem;
    right: 1.2rem;
    font-size: 1.9rem;
    // display: flex;
  }
}
.nav-close {
  @extend .nav-toggle;
}
.nav {
  @media only screen and (max-width: 900px) {
    flex-direction: column;
    row-gap: 3rem;
    height: 95vh;
    justify-content: flex-start;
    padding: 5rem 0;
  }
  @media only screen and (max-width: 600px) {
    row-gap: 2rem;
  }
}
.nav-logo {
  height: 100%;
  @media only screen and (max-width: 900px) {
    height: auto;
  }
  h1 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 2.1rem;
    width: auto;
    height: auto;
    cursor: pointer;
    @media only screen and (max-width: 900px) {
      font-size: 6rem;
    }
    @media only screen and (max-width: 600px) {
      font-size: 6rem;
    }
  }
}
.nav-links {
  width: 45vw;
  column-gap: 5rem;
  @media only screen and (max-width: 900px) {
    flex-direction: column;
    width: 100%;
    justify-content: flex-start;
    row-gap: 4rem;
    height: auto;
  }
  @media only screen and (max-width: 600px) {
    row-gap: 2rem;

  }
  button,
  a {
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    @media only screen and (max-width: 900px) {
      font-size: 2rem;
    }
    @media only screen and (max-width: 600px) {
      font-size: 2rem;
    }
    outline:none;
    
  }
  a:nth-child(5) {
    border: 2px solid black;
    padding: 0.5rem;
    box-sizing: border-box;
    border-radius: 0.2rem;
    transition: all 0.4s;
    background-color: rgba(0, 0, 0, 0.05);
    &:hover {
      background-color: rgba(0,0,0,.2);
      color: white;
    }
  }
}